# Compiled class files
bin/
*.class

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# IDE specific files
.vscode/
.idea/
*.iml

# Serialized data files
data/
*.ser

# OS specific files
.DS_Store
Thumbs.db
